.help {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
    list-style-type:none;
    padding-right: 5px;
    padding-left: 5px;
    &__item {
        width: 130px;
        text-align: center;
        white-space:nowrap
    }
    &__img {
        max-width: 50px;
        max-height: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (min-width: 768px)  {
    .help {
        column-gap: 60px;
        row-gap: 55px;
        justify-content: center;
        &__item {
            width: 170px;
        }
        &__img {
            max-width: 60px;
            max-height: 60px;
        }
    }
}

@media screen and (min-width: 1280px)  {
    .help {
        justify-content: center;
        column-gap: 125px;
        &__item {
            width: auto;
        }
    }
}